body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation bar */

nav a {
    text-decoration: underline;
    color: lightskyblue;
}

nav .login-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

nav a.not-last::after {
    content: "|";
    margin: 10px;
    color: #000;
}

/* Main content */
.container {
    margin-top: 10px;
    margin-left: 10px;
    
}

.wrapper {
    display: flex;
}

.title {
    color:#000;
    left: 0;
    font-size: 32px;
    font-weight: bold;
}

.post li , .single-post{
    position: relative;
    padding-left: 5px;
    border: 2px solid #000;
    background-color: white;
    width: 1200px;
    height: 150px;
    margin-bottom: 30px;
}

.post ul {
    list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 5px;
    padding-inline-start: 0px;
}

.post-image {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 100px;
    height: 100px;
}

.post-meta {
    margin-top: 50px;
    font-size: 15px;
    color: #000;
}


/* Sidebar */
.sidebar {
    background-color: #ffffff;
    padding: 20px;
    top: 50px;
    right: 0;
}

.sidebar-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.sidebar li p{
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.sidebar li a{
    color: lightskyblue;
    text-decoration: underline;
    padding: 5px 10px;
    display: inline-block;
}

/* Separator */
hr {
    border-width: 1px;
    border-style: solid;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1em;
    margin-inline-end: 0em;    
}

/* Form */
div form {
    display: flexbox;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button[type="submit"] {
    display: flexbox;
    padding: 10px 20px;
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}